.App {
  text-align: center;
}

.navbar {
  background-color: #FFEE60;
  font-weight: bold;
}

.home {
  display: flex;
  align-items: center;
}

.home img {
  width: 30px;
}

.container {
  margin: 0;
}

.main-bg {
  height: 300px;
  background-image: url('./img/bg.png');
  background-size: cover;
  background-position: center;
}

.product-container {
  margin: auto;
}